body {
    background-color: #121212;
    font-family: sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    height: 350px;
}

.grey {
    background-color: #3a3a3c;
    width: 3rem;
    height: 3rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 4px 4px;
    font-weight: bold;
}

.green {
    background-color: #538d4e;
    width: 3rem;
    height: 3rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 4px 4px;
    font-weight: bold;
}

.yellow {
    background-color: #b59f3b;
    width: 3rem;
    height: 3rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 4px 4px;
    font-weight: bold;
}

.suggestions {
    overflow-y: scroll;
    height: calc(100vh - 450px);
    display: inline-flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.word {
    height: min-content;
    background-color: #3a3a3c;
    flex-grow: 1;
    margin: 4px 4px;
    font-size: 2rem;
    padding: 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}